body {

}
h2 {
    text-align: center;
}
h3{
    text-align:center;
}

h4 {
    text-align: center;
}
.setcenter{
    text-align:center;
}

#menudiv {
    text-align: center;
    color: red;
    font: bold;
    width: 70%;
    height: 100%;
    background-color: ghostwhite;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 20px;
    border-style: solid;
    border-color: red;
}

.big-container {
    margin-top: 5%;

}
.menu-items {
    margin-top: 3%;
    
}
.pay-text {
    margin-top: 5%;
    text-align: center;
    color: red;
    font: bold;
    width: 70%;
    height: 100%;
    background-color: ghostwhite;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 20px;
    border-style: solid;
    border-color: red;
}
#customerbasket {

    color: red;
    font: bold;
    width: 50%;
    height: 100%;
    background-color: ghostwhite;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 20px;
    border-style: solid;
    border-color: red;
}
.table-css{
    color: red;
}

.table-css a {
    color: white;
    text-decoration: none;
}
